{% extends "layouts/main.html" %}

{% block pageTitle %}
  Start page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for the start page -->
  {{ govukHeader() }}
{% endblock %}

{% block content %}

<a class="govuk-back-link" onclick="if (window.history.length > 1) { window.history.back(); return false; }">Back
    </a>


   <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
    <h1 class="govuk-fieldset__heading">
        Did DWP ask you to repay a Carer's Allowance overpayment between 10 April 2015 and 2 September 2025?
      </h1>
    </legend>
    <div class="govuk-inset-text">
  If you have already paid back the money, you can still select yes.
</div>

<form class="form" action="/overpayments/repaying-overpayment-answer" method="post">
    <div class="govuk-radios" data-module="govuk-radios">
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="repayingOverpayment" name="repayingOverpayment" type="radio" value="Yes">
        <label class="govuk-label govuk-radios__label" for="repayingOverpayment">
          Yes
        </label>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="repayingOverpayment" name="repayingOverpayment" type="radio" value="No">
        <label class="govuk-label govuk-radios__label" for="repayingOverpayment">
          No
        </label>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="repayingOverpayment" name="repayingOverpayment" type="radio" value="Not sure">
        <label class="govuk-label govuk-radios__label" for="repayingOverpayment">
          Not sure
        </label>
      </div>
    </div>
  </fieldset>
  </p>
  <div class="govuk-button-group">
    <button type="submit" class="govuk-button" data-module="govuk-button">    Continue  </button>
  <a class="govuk-link" href="start">Cancel</a>
</div>
      </form>
</div>

    

{% endblock %}
