{% extends "layouts/main.html" %}

{% block pageTitle %}
  Start page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for the start page -->
  {{ govukHeader() }}
{% endblock %}

{% block beforeContent %}

  {% from "govuk/components/back-link/macro.njk" import govukBackLink %}

  {{ govukBackLink({
    text: "Back",
    href: "#"
  }) }}

{% endblock %}

{% block content %}


  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        You cannot use this form
      </h1>

      <p class="govuk-body">This form is only to request a review for overpayments between 10 April 2015 and 2 September 2025.</p>

      <p class="govuk-body">For all other overpayments, you can <a href="#">challenge a benefit decision (opens in new tab)</a>.</p>

    </div>

  </div>

{% endblock %}
