{% extends "layouts/main.html" %}

{% block pageTitle %}
  Start page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for the start page -->
  {{ govukHeader() }}
{% endblock %}

{% block content %}

<a class="govuk-back-link" onclick="if (window.history.length > 1) { window.history.back(); return false; }">Back
    </a>


  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="/overpayment-answer" method="post">

      <h1 class="govuk-heading-l">
        Request a reassessment of your Carer's Allowance overpayment</h1>

      <h2 class="govuk-heading-m">How we use your data</h2>
      <p class="govuk-body">We will store the data from the form in DWP's Microsoft 365 account. We will keep it until we have completed your reassessment. We will only use the details you provide in this form to contact you about your reassessment. If you agree to user research, we will use them to contact you to arrange a research session.</p>
      {% from "govuk/components/button/macro.njk" import govukButton %}

     <div class="govuk-button-group">
          {{ govukButton({
          text: "Continue",
          href: "Request-a-reassessment",
          classes: "govuk-button"
          }) }}
        
          <a class="govuk-link" href="start">Cancel</a>
        </div>

  

    </div>

  </div>

{% endblock %}
