{% extends "layouts/main.html" %}

{% block pageTitle %}
  Start page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for the start page -->
  {{ govukHeader() }}
{% endblock %}

{% block content %}

<a class="govuk-back-link" onclick="if (window.history.length > 1) { window.history.back(); return false; }">Back
    </a>


  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        What is your current phone number? (optional)
      </h1>

      <p class="govuk-body--hint">We may use this number to call you to get more information. If we call your mobile number, we will send a text message before we do telling you what time we will call.</p>
   
      <p class="govuk-body--hint">You can give a mobile or landline number.</p>
        
 <div class="govuk-form-group">
  <label class="govuk-label" for="phone-number">
    UK phone number
  </label>
  <input class="govuk-input govuk-input--width-20" id="phone-number" name="phoneNumber" type="tel" autocomplete="tel">
</div>

      <div class="govuk-button-group">
          {{ govukButton({
          text: "Continue",
          href: "name-of-person-you-cared-for",
          classes: "govuk-button"
          }) }}
        
          <a class="govuk-link" href="start">Cancel</a>
        </div>

  </div>

{% endblock %}
