{% extends "layouts/main.html" %}

{% set pageName="Home" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">
      CA Independent Review Prototype
    </h1>
  <h2 class="govuk-heading-m">
      Self Identify Pilot
  </h2>
  {% from "govuk/components/button/macro.njk" import govukButton %}

  {{ govukButton({
    text: "Start now",
    href: "overpayments/start",
    isStartButton: true
  }) }}
    
  </div>
</div>

{% endblock %}
